<section class="page-section mt-4">
    <div class="container">
        <form id="ask-question" class="m-3" method="post" action="/ask-question">
            <div class="form-group">
                <label for="question">Question</label>
                <input required type="text" class="form-control" id="question" name="title">
            </div>
            <button class="btn btn-secondary" type="button" onclick="location.href='/faq'">Cancel</button>
            <button class="btn btn-primary" type="submit">Send Question</button>
        </form>
    </div>
</section>