<section class="page-section">
    <div class="container">
        <form id="create-project" class="m-3" method="post" action="/create-project">
            <div class="form-group">
                <label for="project-title">Project Title</label>
                <input type="text" class="form-control" id="project-title" name="title">
            </div>
            <div class="form-group">
                <label for="project-description">Project Description</label>
                <input type="text" class="form-control" id="project-description" name="description">
            </div>
            <div class="form-group">
                <label for="project-image">Project Image</label>
                <input type="file" class="form-control p-1" name="image">
            </div>
            <button class="btn btn-secondary">Cancel</button>
            <button class="btn btn-primary" type="submit">Add project</button>
        </form>
    </div>
</section>